<?xml version="1.0"?>
<model>
  <name>HaiYing Custom Quad 333 V9.2</name>
  <version>9.2</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>HaiYing Simulation Team</name>
  </author>
  <description>
    HaiYing V9.2 quadrotor, SO-101 arm, AR0234 camera and MID-360 LiDAR integration model.
  </description>
</model>
